TCPTextual {
    layout: horizontal;
    min-width: 50;
    margin: 0 1 0 1;
    padding: 1;
    height: 5;
    background: $boost;
}
#submit {
    margin: 1 1 1 1;
    width: 100%;
}
Label {
    margin: 1 1 1 1;
}

Key_Config {
    layout: grid;
    grid-size: 6;
    grid-gutter: 1;
    grid-columns: 3fr;
    margin: 1 0 1 1;
    grid-rows: auto;
    border: heavy rgb(93, 93, 93);
}

Key_Config > Static {
    margin: 1 0 1 1;
    column-span: 1;
}
Key_Config > Input {
    column-span: 2;
}
#generate {
    width: 100%;
    margin: 1 1 1 1;
}
#add_key {
    width: 100%;
    margin: 1 1 1 1;
}

#homescreen {
    margin: 1 1 1 1;
}

#is_label {
    border: heavy rgb(0, 69, 120);
    width: 50%;
    text-align: center;
}
#setup_btn {
    width: 50%;
}
#individual_steps {
    border: round rgb(93, 93, 93);
}
#btn_container {
    margin: 1 0 1 2;
    layout: grid;
    grid-size: 3;
    grid-gutter: 1;
}
#btn_container > Button {
    width: 90%;
}

* {
    /* border: solid green; */
}
